* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #4a4e58;
  color: white;
}

.top-bar {
  background-color: #3c3f46;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  justify-content: space-between;
}

.top-icons {
  display: flex;
  gap: 8px;
}

.top-icons div {
  width: 15px;
  height: 15px;
  background-color: #5e626c;
}

.top-right {
  display: flex;
  gap: 10px;
}

.top-right div {
  width: 60px;
  height: 10px;
  background-color: #d4d4d4;
}

.navbar {
  background-color: #353940;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.nav-links {
  display: flex;
  gap: 100px;
  color: rgb(231, 230, 230);
}

.nav-links div {
  width: 50px;
  height: 8px;
  background-color: #5e626c;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  width: 150px;
  height: 15px;
  background-color: white;
  margin-right: 5px;
}

.search-btn {
  width: 15px;
  height: 15px;
  background-color: #f89372;
}

.main {
  display: flex;
  padding: 20px;
}



.video-area {
  flex: 1;
  padding: 0 20px;
}

.video-player {
  width: 100%;
  height: 200px;
  background-color: #f89372;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
}

.left-arrow {
  left: -30px;
}

.right-arrow {
  right: -30px;
}

